<!-- <p [ngClass]="classes">
  directory works!
</p>

<p *ngIf="test">Only Show if this is true</p>

<style>
.blue{color: blue;}
.red{color: red;}
.underline{text-decoration: underline;}
</style> -->

<h2>Neighborhood Listing</h2>
<form id="filter">
<label>Filter neighborhoods by name:</label>
<!-- Edited for upgrades -->
<input type="text" [ngModelOptions]="{standalone:true}" [(ngModel)]="term" />
</form>

<ul id="neighborhood-listing">
  <li *ngFor="let hood of neighborhoods | filter:term">
    <div class="single-neighborhood">
    <!--  Nearest Marta -->
    Marta: <span>{{hood.station}} Station</span>
    <!-- neighborhood Name -->
    <h3>{{hood.name | uppercase }}</h3>
    <!-- <div (click)="remove($event)" [attr.data-name]="hood.name">delete</div> -->
  </div>
  </li>
</ul>
<button (click)="logIt()">Log Me</button>
