<p>
  {{homeTitle}}
</p>

<!-- property binding practice-->
<!-- <input value="{{myString}}"/>

<input required="{{myBoolean}}"/>
<button (click)="alertMe('I like beef')">Click me</button> -->

<!-- 2-way binding practice -->
<!-- <h2>Update Price</h2>
<br>
<input [(ngModel)]="newHome.price"/>
<label>Address</label>
<p>{{newHome.address}}</p>
<label>Sq.Ft</label>
<p>{{newHome.size}}</p>
<label>Sale Price</label>
<p>{{newHome.price}}</p> -->

<!-- Custom Property Binding practice-->
<!-- <p>{{realtor.name}}</p>
<p>{{realtor.agency}}</p>
<p>{{realtor.territory}}</p> -->

<!-- Custom event binding practice-->
<!-- <button (click)="fireYellEvent($event)">Hit Me</button> -->
