<p>
  {{homeTitle}}
</p>
<ng-content></ng-content>

<!-- property binding-->
<!-- <input value="{{myString}}"/>

<input required="{{myBoolean}}"/>
<button (click)="alertMe('I like beef')">Click me</button> -->

<!-- 2-way binding -->
<!-- <h2>Update Price</h2>
<br>
<input [(ngModel)]="newHome.price"/>
<label>Address</label>
<p>{{newHome.address}}</p>
<label>Sq.Ft</label>
<p>{{newHome.size}}</p>
<label>Sale Price</label>
<p>{{newHome.price}}</p> -->

<!-- Custom Property Binding -->
<!-- <p>{{realtor.name}}</p>
<p>{{realtor.agency}}</p>
<p>{{realtor.territory}}</p> -->

<!-- Custom event binding -->
<!-- <button (click)="fireYellEvent($event)">Hit Me</button> -->
